.container{
    display: flex;
    align-items: flex-start;
  }

  .thumb-pic{
    flex: 0 0 350px; 
    margin-right: 20px;
  }

  .thumb-pic{
    width: 100%; 
    height: auto;
  }

  .thumb{
    flex: 1 1 auto;
  }

  .thumb{
    margin-top: 0;
  }