.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.breed-select {
    margin-bottom: 30px;
}

.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: none;
    margin: 15px auto;
    position: relative;
    color: #000;
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
    0% {
        box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    12% {
        box-shadow: 100px 0 rgb(61, 41, 41), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    25% {
        box-shadow: 110px 0 black, 100px 0 black, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    36% {
        box-shadow: 120px 0 black, 110px 0 black, 100px 0 black, 0px 0 rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 130px 0 black, 120px 0 black, 110px 0 black, 100px 0 black;
    }

    62% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 black, 120px 0 black, 110px 0 black;
    }

    75% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 black, 120px 0 black;
    }

    87% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 black;
    }

    100% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
}

.loader.visible {
    display: block;
}

.cat-info {
    display: none;
}

.cat-info.visible {
    display: block;
}

.text-accent {
    font-weight: bold;
}